:root {
	/* makes new tab icon not be squashed */
	--tabs-navbar-shadow-size: 0px !important;
	--tab-min-height: 14px !important;
	--toolbarbutton-border-radius: 0px !important;
	/* fixes squashed toolbar icons, also makes them bigger */
	--toolbarbutton-inner-padding: 2px 6px !important;

	/* custom colors */
	--tf-beige: #dabdab;
	--tf-darkbrown: #32201b;
	--tf-brown: #422a24;
	
	--tf-grn: #879b4b;
	--tf-grn-pastel: #7f8b5b;
	--tf-grn-pastel-fade: #636c47;
	--tf-grn-vibrant: #92b234;
	--tf-blu: #314f68;
	--tf-blu-fade: #294257;
	--tf-blu-vibrant: #97bef9;
	--tf-lightblu: #6882aa;

	--tf-red: #bd3b3b;
	--tf-cyan: #2aa198;
	--tf-violet: #996dc5;
	--tf-orange: #ee6c2b;
	--tf-orange-pastel: #ef9849;

	--toolbar-bgcolor: var(--tf-brown) !important;
	/* color of the text in tab names */
	--lwt-text-color: var(--tf-beige) !important;
	/* url bar suggestions background color */
	--lwt-toolbar-field-color: var(--tf-beige) !important;
	--lwt-toolbar-field-background-color: var(--tf-darkbrown) !important;
	--lwt-toolbar-field-focus: transparent !important;
	--lwt-toolbar-field-focus-color: var(--tf-beige) !important;
	/* border around the search/url bar */
	--lwt-toolbar-field-border-color: var(--tf-darkbrown) !important;
	--lwt-accent-color: var(--tf-darkbrown) !important;
	--lwt-toolbarbutton-icon-fill: var(--tf-beige) !important;


	/* slightly reduce padding to make icons bigger */
    --urlbar-icon-padding: 3px !important;
	--urlbar-separator-color: rgba(0,0,0,0) !important;
	--urlbar-popup-url-color: var(--tf-blu-vibrant) !important;
	--urlbar-popup-action-color: var(--tf-grn-vibrant) !important;

	--autocomplete-popup-color: var(--tf-beige) !important;
	--autocomplete-popup-highlight-background: var(--tf-blu-fade) !important;
	--toolbarbutton-icon-fill-opacity: .7 !important;

	--panel-disabled-color: var(--tf-grn-pastel) !important;

	/* dropdowns such as the hamburger menu */
	--arrowpanel-background: var(--tf-darkbrown) !important;
	--arrowpanel-color: var(--tf-beige) !important;
	--arrowpanel-border-color: var(--tf-blu) !important;


	/* search suggestions popup menu's border color */
	--chrome-content-separator-color: rgba(0,0,0,0) !important;
}
/* color of highleted text in urlbar */
::-moz-selection {
	background-color: var(--tf-blu-fade) !important;
}
.tabbrowser-tab[multiselected]:-moz-lwtheme, .tabbrowser-tab[visuallyselected="true"]:-moz-lwtheme {
	--tab-line-color: var(--tf-blu-vibrant) !important;
	color: var(--tf-blu-vibrant) !important;
}
:root:-moz-lwtheme-brighttext {
	--autocomplete-popup-background: var(--tf-darkbrown) !important;
}
/* make urlbar icons not skewed */
:root[uidensity="compact"] .urlbar-icon {
	width: 2em !important;
	height: auto !important;
	max-width: 20px !important;
}
:root[uidensity="compact"] {
	--toolbarbutton-outer-padding: 0px !important;
}
:root[lwt-popup-brighttext] {
	--panel-separator-color: var(--tf-brown) !important;
	--arrowpanel-dimmed: var(--tf-brown) !important;
	--arrowpanel-dimmed-further: var(--tf-blu) !important;
}
/* colors of toolbar background items when hovered/clicked */
:root:-moz-lwtheme-brighttext, toolbar[brighttext] {
	--toolbarbutton-hover-background: var(--tf-darkbrown) !important;
	--toolbarbutton-active-background: var(--tf-darkbrown) !important;
	--backbutton-background: var(--tf-darkbrown) !important;
	--backbutton-hover-background: var(--tf-darkbrown) !important;
	--backbutton-active-background: var(--tf-darkbrown) !important;
}
/* dowload button color when something has been downloaded */
:root[lwt-popup-brighttext] panel, toolbar[brighttext] {
	--toolbarbutton-icon-fill-attention: var(--tf-blu-vibrant) !important;
}
#urlbar:not(.megabar),
#urlbar.megabar > #urlbar-background,
#searchbar {
	border: none !important;
	box-shadow: none !important;
}
.urlbarView {
	background-color: var(--tf-darkbrown) !important;
	box-shadow: none !important;
	margin: auto !important;
	width: var(--urlbar-list-width) !important;
}
/* The text that says 'Search with ...' */
.urlbarView-action {
	color: var(--tf-grn-vibrant) !important;
}

/* make toolbar icons slightly less opaque */
/*:root:-moz-lwtheme {
	--toolbarbutton-icon-fill-opacity: .7 !important;
}
#main-window {
	--lwt-toolbarbutton-icon-fill: var(--tf-beige) !important;
}
*/
toolbar {
	min-height: 20px !important;
	max-height: 36px !important;
	height: 1.7em !important;
	font: 14px "Ubuntu Mono" !important;
}

#toolbar-menubar[autohide="true"][inactive="true"]:not([customizing="true"]) {
	min-height: 0 !important;
	height: 0 !important;
	-moz-appearance: none !important;
}

#urlbar, .searchbar-textbox {
	margin: 0 !important;
	min-height: 12px !important;
	height: 1.6em !important;
}

#navigator-toolbox {
	/* remove 1px border between toolbar and content */
    border-bottom: none !important;

	--tabs-border-color: transparent !important;
}
/* Hide some bloat */
#pocket-button,
.tab-close-button,
.tab-line,
.tabbrowser-tab::before,
.tabbrowser-tab::after,
.tabbrowser-tab .tab-icon-image {
	display: none !important;
}
.tab-content {
	background-color: none !important;
	background-image: none !important;
}
.tabbrowser-tab[pinned="true"] {
	min-width: 32px;
}
/* text saying "Connection secure" when clicking on TLS padlock */
:root[lwt-popup-brighttext] .identity-popup-connection-secure {
	color: var(--tf-grn-vibrant) !important;
}
/* Connection not secure */
#identity-popup[mixedcontent~="active-loaded"] .identity-popup-connection-not-secure, #identity-popup:not([mixedcontent]) .identity-popup-connection-not-secure {
	color: var(--tf-red) !important;
}
/* multi-account container colors */
.identity-color-blue {
 	--identity-tab-color: var(--tf-blu) !important;
	--identity-icon-color: var(--tf-blu) !important;
}
.identity-color-pink {
 	--identity-tab-color: var(--tf-violet) !important;
	--identity-icon-color: var(--tf-violet) !important;
}
.identity-color-orange {
 	--identity-tab-color: var(--tf-orange-pastel) !important;
	--identity-icon-color: var(--tf-orange-pastel) !important;
}
.identity-color-green {
 	--identity-tab-color: var(--tf-grn-pastel-fade) !important;
	--identity-icon-color: var(--tf-grn-pastel-fade) !important;
}

#tabbrowser-tabs {
	/* when you open a new tab, it flashes briefly with this color */
	--tab-loading-fill: var(--tf-blu-vibrant) !important;
}
/* ctrl-f find menu */
.findbar-find-previous, .findbar-find-next {
	background: var(--tf-darkbrown) !important;
	border: none !important;
}
/* does not seem to work */
html|input.findbar-textbox[status="notfound"] {
	background-color: var(--tf-red) !important;
}

:root[lwt-popup-brighttext] panel .text-link {
	color: var(--tf-blu-vibrant) !important;
}

/* history sidebar */
.sidebar-splitter {
	-moz-appearance: none !important;
	width: 6px !important;
	background-color: var(--tf-darkbrown) !important;
	border: 1px var(--tf-brown) !important;
	border-style: 2px solid !important;
}
search-textbox {
	-moz-appearance: none !important;
	background-color: var(--tf-darkbrown) !important;
	color: var(--tf-beige) !important;
	padding: 8px 4px !important;
}
/* section which says "History" */
#sidebar-box {
	--sidebar-background-color: var(--tf-darkbrown) !important;
	--sidebar-text-color: var(--tf-beige) !important;
}
/* don't show magnifying glass icon next to "Search history" */
search-textbox:not([searchbutton]) > .textbox-search-sign {
	display: none !important;
}
window#history-panel {
	--lwt-sidebar-background-color: var(--tf-darkbrown) !important;
	--lwt-sidebar-text-color: var(--tf-beige) !important;	
}
/* history scrollbar colors */
.sidebar-panel[lwt-sidebar-brighttext] {
	scrollbar-color: var(--tf-beige) var(--tf-darkbrown) !important;
}
body[lwt-sidebar] {
	--lwt-sidebar-background-color: var(--tf-darkbrown) !important;
	--lwt-sidebar-text-color: var(--tf-beige) !important;
}
.sidebar-panel[lwt-sidebar] {
	--lwt-sidebar-background-color: var(--tf-darkbrown) !important;
	--lwt-sidebar-text-color: var(--tf-beige) !important;
}

/* button that says "Sign in to Sync" */
.deck .button {
	background-color: var(--tf-blu) !important;
	color: var(--tf-beige) !important;
}
.deck .button:hover {
	background-color: var(--tf-blu-fade) !important;
}

/* "This page is loaded from an extension " */
#identity-popup[connection="extension"] .identity-popup-security-connection {
	fill: var(--tf-grn) !important;
}

textbox {
	margin: 0px 4px !important;
}
