/* doesn't seem to do anything */
@-moz-document url(about:blank), url(about:newtab), url(about:home) {
	html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
		background: #32201b !important;
	}
}
