* {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: sans-serif, "Roboto", "Helvetica", "Arial", monospace;
	font-size: 12px;
	min-height: 0;
}

window#waybar {
	background-color: rgba(33, 21, 18, 1);
	/* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
	color: #dabdab;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

/*
 * labels are buttons, and GTK overrides
 * the colours of buttons to be grey when disabled
 */
label:disabled {
	all: unset;
}

/*
window#waybar.empty {
	background-color: transparent;
}
window#waybar.solo {
	background-color: #FFFFFF;
}
*/
/*
window#waybar.termite {
	background-color: #3F3F3F;
}
*/
/* will change the bar color if chromium is focused */
/*
window#waybar.chromium {
	background-color: #000000;
	border: none;
}
 */

#workspaces button {
	padding: 1px 5px 0 5px;
	background-color: #9a7765;
	color: #211512;
	border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
	background: #dabdab;
	box-shadow: inherit;
}

#workspaces button.focused {
	border-bottom: 3px solid #dabdab;
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-bandwidth,
#tray,
#mode,
#idle_inhibitor,
#mpd {
	padding: 0 10px;
	margin: 0 4px;
	color: #211512;
	background-color: #9a7765;
}

#mode {
	background-color: #314f68;
	color: #dabdab;
}

/*
#clock {
	background-color: #5b7a8c;
}
*/

#battery {
	background-color: #dabdab;
}

#battery.charging {
	color: #dabdab;
	background-color: #879b4b;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:focus {
	background-color: #000000;
}

/*
#cpu {
	background-color: #879b4b;
}

#memory {
	background-color: #996dc5;
}

#backlight {
	background-color: #90b1b1;
}

#network {
	background-color: #5b7a8c;
}

#network.disconnected {
	background-color: #bd3b3b;
}

#pulseaudio {
	background-color: #ef9849;
}

#pulseaudio.muted {
	background-color: #90b1b1;
	color: #2a5c45;
}
*/

#custom-media {
	background-color: #66cc99;
	color: #2a5c45;
	min-width: 100px;
}

#custom-media.custom-spotify {
	background-color: #66cc99;
}

#custom-media.custom-vlc {
	background-color: #ffa000;
}

/*
#temperature {
	background-color: #f0932b;
}
*/

#temperature.critical {
	background-color: #eb4d4b;
}

#tray {
	background-color: #314f68;
}

#idle_inhibitor {
	background-color: #2d3436;
}

#idle_inhibitor.activated {
	background-color: #ecf0f1;
	color: #2d3436;
}

#mpd.disconnected {
	background-color: #eb4d4b;
}

#mpd.stopped {
	background-color: #774d3c;
}

#mpd.paused {
	background-color: #774d3c;
}

